<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My First Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css"> 
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="container clearfix">
                <div class="logo">
                    <a href="#"><img src="../img/logo.png" alt="" /></a>
                </div>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div id="home">
            <div class="container">
                <h1>welcome to startup</h1>
                <h3>Your Favourite Creative Agency Template</h3>
                <button class="btn">get started</button>
            </div>
        </div>
        <div id="services" class="box">
            <div class="container">
                <h2 class="title">services</h2>
                <hr align="center" color="#555" width="50px" size="3px">
                <p class="descr">We offer ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
            <div class="services-wrap clearfix">
                    <div class="services-item typography">
                        <div>&#032;</div>
                        <h5 class="title">Clean Typography</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
                    </div>
                    <div class="services-item code">
                    <div>&#032;</div>
                        <h5 class="title">Rock Solid Code</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
                    </div>
                    <div class="services-item support">
                    <div>&#032;</div>
                        <h5 class="title">Expert Support</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="box">
            <div class="container">
                <h2 class="title">About Us</h2>
                <hr align="center" color="#555" width="50px" size="3px">
                <p class="descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
            <div class="about-wrap clearfix">
                <div class="about-item">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.</p>
                </div>
                <div class="about-item">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.</p>
                </div>
            </div>
        <div class="member-wrap clearfix">
            <div class="member-item">
                <div class="image" style="background: url(../img/person1.png)">
                    <div class="overlay"></div>
                    <div class="social">
                        <a href="#" class="fb">&#032;</a>
                        <a href="#" class="tw">&#032;</a>
                        <a href="#" class="gl">&#032;</a>
                        <a href="#" class="ln">&#032;</a>
                    </div>
                </div>
                    <h3 class="teammember">Md. Khalil Uddin</h3>
                    <h4 class="teammember">Head of Ideas</h4> 
            </div>
            <div class="member-item">
                <div class="image" style="background: url(../img/person2.png)">
                    <div class="overlay"></div>
                    <div class="social">
                        <a href="#" class="fb">&#032;</a>
                        <a href="#" class="tw">&#032;</a>
                        <a href="#" class="gl">&#032;</a>
                        <a href="#" class="ln">&#032;</a>
                    </div>
                </div>
                    <h3 class="teammember">Rubel Miah</h3>
                    <h4 class="teammember">Lead WordPress Developer</h4>
            </div>
            <div class="member-item">
                <div class="image" style="background: url(../img/person3.png)">
                    <div class="overlay"></div>
                    <div class="social">
                        <a href="#" class="fb">&#032;</a>
                        <a href="#" class="tw">&#032;</a>
                        <a href="#" class="gl">&#032;</a>
                        <a href="#" class="ln">&#032;</a>
                    </div>
                </div>
                    <h3 class="teammember">Shamim Mia</h3>
                    <h4 class="teammember">Sr. Web Developer</h4>
            </div>
            <div class="member-item">
                <div class="image" style="background: url(../img/person4.png)">
                    <div class="overlay"></div>
                    <div class="social">
                        <a href="#" class="fb">&#032;</a>
                        <a href="#" class="tw">&#032;</a>
                        <a href="#" class="gl">&#032;</a>
                        <a href="#" class="ln">&#032;</a>
                    </div>
                </div>
                    <h3 class="teammember">John Doe</h3>
                    <h4 class="teammember">Front-end Developer</h4>
                </div> 
                </div>
            </div>
        </div>
    <div id="works" class="box">
        <div class="container">
            <h2 class="title">Latest works</h2>
                <hr align="center" color="#555" width="50px" size="3px">
                <p class="descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
            <div class="works-wrap clearfix">
                <div class="work-item">
                    <div class="example1" style="background: url(../img/1.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/2.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/3.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/4.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/5.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/6.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/7.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/8.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
                <div class="work-item">
                    <div class="example1" style="background: url(../img/9.png)">
                        <div class="over"></div>
                        <h3 class="brandtitle">Md. Khalil Uddin</h3>
                        <span>Head of Ideas</span> 
                        <button class="btn2">view &#032;&#62;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    
</div>
</body>
</html>